// Image on the welcome page (High res)
$welcome-img-url-high-res: "https://drive.google.com/uc?view=export&id=1g33KhLyc0CnGnhR0f-TIJUhSmn67utYP";

// Prevent content from getting stretched too thin horizontally
$content-max-width: 1200px;

// Text settings
$font-family: Optima, sans-serif;
$text-color: hsl(272, 47%, 10%);

// Nav bar settings
$nav-bar-color: hsl(182, 20%, 95%);
$nav-link-hover-color: hsl(152, 20%, 50%);
$nav-height: 65px;

// Projects thumbnail parameters
$thumbnail-max-width: 200px;

// Parameters for links
$links-background-color: hsl(182, 10%, 75%);

// Some global settings

html {
	scroll-behavior: smooth;
}

h2 {
 text-align: center;	
 font-size: 35px;
}

body {
	background-color: $nav-bar-color;
	font-family: $font-family; 
	color: $text-color;
	margin: 0;
	padding: 0;
}

hr {
	width: 100%;
}


// Outer-container is the parent for all content excluding the footer
// Its main function is to add a max-width for the content

#outer-container {
	max-width: $content-max-width;
	margin: auto;
}

// Navigation bar settings

#navbar {
	width: 100%;
	height: $nav-height;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $nav-bar-color;
	z-index: 100;
}


#navlinks {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
}

.navlink {
	text-align: center;
	color: $text-color;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

.navlink:hover { 
	color: $nav-link-hover-color;
}


// Welcome section: greetings an big picture

#welcome-section {
	height: 100vh;
	background-image: url($welcome-img-url-high-res);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h1 {
		text-align: right;
		font-size: 200%;
	}

	// Used to create a filler div to better position the text 
	.filler {
		height: 50%
	}

	// Style of the greetings text.

	.head-text-block {
		// Color scheme purposefully inverts the color scheme of nav bar
		color: $nav-bar-color;
		background-color: $text-color;
		padding: 10px 15px;
	}
}

// Common data for all non-welcome sections
.non-welcome-section {
	margin: 0;
	padding: $nav-height/2 30px $nav-height 30px;
}

// About me section mobile first
#about-me {
	display: flex;
	flex-direction: column;
}

#about-me-header {
	order: 1;
}

#mystory-container {
	order: 3;
	margin: auto;
	max-width: 40em;
}

#mypic-container {
	order: 2;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	width: 60vw;
	height: 60vw;
	max-width: 275px;
	max-height: 275px;
	background-color: blue;
	overflow: hidden;
	transform: rotate(-8deg);
	box-shadow: 1px 1px 2px 2px;
}

#mypic {
	width: 120%;
	margin-left: -10%;
}

#me-list {
	li {
		list-style-type: none;
	}
}

// links container contains external links to projects and my 'social media' links

.links-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

// tiles that hold a project

.project-tile {
	background-color: #FFF;
	margin: 10px;
	width: 80%;
	max-width: $thumbnail-max-width;
	overflow: hidden;
	a {
		text-decoration: none;
		color: black;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	border-style: solid;
	border-width: 2px;
	border-color: #DDD;
}

// On hover, the project tile appears to pop out of the page
.project-tile:hover {
	box-shadow: 0px 1px 4px 1px;
	transform: scale(1.03);
}

// Contians the thumbnail image for a given project.
.project-thumbnail-container {
	padding: 10px;
	img {
		display: block;
	  margin: 0 auto;
		width: 90%;
		height: 150px;
	}
}

.project-name-container {
	text-align: center;
}

// Container for icons from icons8.com
.tech-icon-container {
	margin: 0;
  display: flex;
	justify-content: center;
	font-size: x-large;
	background-color: #CCC;
	img {
		width: 20%;
	}
}

// Indicates ordering of the projects
#drum-machine {
	order: 2;
}

#markdown-previewer {
	order: 3;
}

#display-users {
	display: none;
	order: 1;
}

#tic-tac-toe {
	order: 7;
}

#random-quote-generator {
	order: 6;
}

#techlead-tribute {
	order: 8;
}

#survey-form {
	order: 9;
}

#fight-milk {
	order: 5;
}

#test-driven-development {
	order: 4;
}

// Settings for links
// TODO: Let's make this prettier

.link-tile {
	@extend .project-tile;
	border-style: none;
	background-color: $links-background-color;
	font-size: 125px;
	text-align: center;
}


footer {
	border-top-style: solid;
	border-top-width: 1px;
	text-align: center;
	font-size: small;
}

// Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {

// Increase font-size for welcome text

#welcome-section h1 {
	font-size: 250%;
}


// Increase font-size for nav
// TODO: Once hamburger is added, this won't be necessary 

	.navlink {
		font-size: medium;
	}
} 

// Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {

	// Use grid layout for the "About me section" for larger screens
	#about-me {
		display: grid;
		grid-template-areas: 
			"image header"
			"image content";
		grid-gap: 0px 60px;
	}

	#mypic-container {
		grid-area: image;
	}
	
	#about-me-header {
		grid-area: header;
		text-align: left;
	}

	#mystory-container {
		grid-area: content;
		margin: 0;
		border-style: solid;
		border-width: 1px;
		padding: 0em 1em;
		border-radius: 5px;
		box-shadow: 1px 1px 2px 2px;
	}
} 

// Large devices (laptops/desktops, 992px and up)
// @media only screen and (min-width: 992px) {
//  #welcome-section {
// 	 h1 {
// 		 font-size: 200%;
// 	 }
//  }	 
// } 

