$logo-width: 15%;
$nav-bar-color: hsl(182, 20%, 95%);
$nav-link-color: hsl(272, 47%, 10%);
$nav-link-hover-color: hsl(152, 20%, 50%);
$nav-height: 65px;
$about-me-background-color: hsl(156, 20%, 75%);
$about-me-text-color: hsl(336, 8.2%, 23.9%);
$non-welcome-font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;

$icon-max-width: 250px;
$welcome-img-url: "../../../img/thoughtful.jpg";

html {
	scroll-behavior: smooth;
}

body {
	font-family: Optima, sans-serif; 
	color: $nav-link-color;
	background-color: $nav-bar-color;
	margin: 0;
	padding: 0;
}

#navbar {
	width: 100%;
	height: $nav-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $nav-bar-color;
	z-index: 100;
}

#logo {
	color: white;
	width: $logo-width;
	padding-left: 1em;
	font-family: OCR A Std, monospace;
}

#navlinks {
	width: 100% - $logo-width;
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
}

.navlink {
	text-align: center;
	color: $nav-link-color;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

.navlink:hover { 
	color: $nav-link-hover-color;
}

#welcome-section {
	height: 100vh;
	background-image: url($welcome-img-url);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#welcome-text {
	height: 25%;
	font-size: 150%;
}

.filler {
	height: 50%
}

.head-text-block {
	color: $nav-bar-color;
	background-color: $nav-link-color;
	padding: 10px 15px;
}

.main-section {
	font-family: $non-welcome-font-family;
	margin: 0;
	padding: $nav-height/4 15px $nav-height/4 15px;
}

#about-me {
	background-color: $about-me-background-color;
	color: $about-me-text-color;
}

#mypic-container {
	margin: auto;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	width: 250px;
	height: 250px;
	background-color: blue;
	overflow: hidden;
	transform: rotate(-8deg);
}

#mypic {
	width: 120%;
	margin-left: -10%;
}

#me-list {
	li {
		list-style-type: none;
	}
}

.links-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-tile {
	background-color: white;
	margin: 10px;
	width: 80%;
	max-width: $icon-max-width;
	padding: 5px;
	overflow: hidden;
	a {
		text-decoration: none;
	}
	border-style: solid;
	border-width: 1px
}

.project-tile:hover {
	box-shadow: 0px 0px 10px 10px;
	transform: scale(1.03);
}

.project-icon-container {
	padding: 10px;
	img {
		display: block;
	  margin: auto;
		width: 90%;
	}
}

.project-name-container {
	text-align: center;
}

#project1 {
	order: 2;
}

#project2 {
	order: 4;
}

#project3 {
	order: 3;
}

#project4 {
	order: 1;
}

.link-tile {
	@extend .project-tile;
	margin: auto;
	border-style: none;
}

.link-icon-container {
	@extend .project-icon-container;
	img {
		display: block;
		margin: auto;
		filter: grayscale(100%);
		width: 90%;
	}
}

footer {
	margin-top: 20px;
	border-top-style: solid;
	border-top-width: 1px;
	text-align: center;
	font-size: small;
}

 /* /1* Extra small devices (phones, 600px and down) *1/ */
/* @media only screen and (max-width: 600px) {...} */

/* /1* Small devices (portrait tablets and large phones, 600px and up) *1/ */
/* @media only screen and (min-width: 600px) {...} */

/* /1* Medium devices (landscape tablets, 768px and up) *1/ */
/* @media only screen and (min-width: 768px) {...} */

/* /1* Large devices (laptops/desktops, 992px and up) *1/ */
/* @media only screen and (min-width: 992px) {...} */

/* /1* Extra large devices (large laptops and desktops, 1200px and up) *1/ */
/* @media only screen and (min-width: 1200px) {...} */ 
