$logo-width: 15%;
$nav-bar-color: hsl(182, 20%, 95%);
$nav-link-color: hsl(272, 47%, 10%);
$nav-link-hover-color: hsl(152, 20%, 50%);
$nav-height: 65px;
$about-me-background-color: hsl(156, 25%, 90%);
$about-me-text-color: hsl(336, 8.2%, 13.9%);
$welcome-font-family: Optima, sans-serif;
$non-welcome-font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
$links-background-color: hsl(182, 10%, 75%);
$links-text-color: hsl(2, 40%, 25%);

$icon-max-width: 200px;
$welcome-img-url: "https://drive.google.com/uc?view=export&id=1g33KhLyc0CnGnhR0f-TIJUhSmn67utYP";

html {
	scroll-behavior: smooth;
}

#about-me-header, #projects-header, #links-header {
 text-align: center;	
}

body {
	font-family: $welcome-font-family; 
	color: $nav-link-color;
	margin: 0;
	padding: 0;
}

#outer-container {
	background-color: $nav-bar-color;
	max-width: 1200px;
	margin: auto;
}

#navbar {
	width: 100%;
	height: $nav-height;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $nav-bar-color;
	z-index: 100;
}

// #logo {
// 	color: $nav-bar-color;
// 	width: $logo-width;
// 	padding-left: 1em;
// 	font-family: $welcome-font-family;
// }

#navlinks {
	width: 100% - $logo-width;
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
}

.navlink {
	text-align: center;
	color: $nav-link-color;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

.navlink:hover { 
	color: $nav-link-hover-color;
}

#welcome-section {
	height: 100vh;
	background-image: url($welcome-img-url);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 125%;
	h1 {
		text-align: right;
	}
}

.filler {
	height: 50%
}

.head-text-block {
	color: $nav-bar-color;
	background-color: $nav-link-color;
	padding: 10px 15px;
}

.main-section {
	font-family: $non-welcome-font-family;
	margin: 0;
	padding: $nav-height/4 30px $nav-height/4 30px;
}

#about-me {
	background-color: $about-me-background-color;
	color: $about-me-text-color;
	display: grid;
	grid-template-areas: 
		"header"
		"image"
		"content";
}

#about-me-header {
	grid-area: header;
}

	#mypic-container {
		grid-area: image;
	}
	
	#mystory-container {
		grid-area: content;
	}
#mypic-container {
	margin: auto;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	width: 66vw;
	height: 66vw;
	max-width: 300px;
	max-height: 300px;
	background-color: blue;
	overflow: hidden;
	transform: rotate(-8deg);
}

#mypic {
	width: 120%;
	margin-left: -10%;
}

#me-list {
	li {
		list-style-type: none;
	}
}

.links-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-tile {
	background-color: white;
	margin: 10px;
	width: 80%;
	max-width: $icon-max-width;
	padding: 5px;
	overflow: hidden;
	a {
		text-decoration: none;
	}
	border-style: solid;
	border-width: 1px
}

.project-tile:hover {
	box-shadow: 0px 0px 10px 10px;
	transform: scale(1.03);
}

.project-icon-container {
	padding: 10px;
	img {
		display: block;
	  margin: auto;
		width: 90%;
	}
}

.project-name-container {
	text-align: center;
}

#project1 {
	order: 2;
}

#project2 {
	order: 4;
}

#project3 {
	order: 3;
}

#project4 {
	order: 1;
}


#links {
	color: $links-text-color; 
	background-color: $links-background-color;
}

.link-tile {
	@extend .project-tile;
	border-style: none;
	background-color: $links-background-color;
}

.link-icon-container {
	@extend .project-icon-container;
	img {
		display: block;
		margin: auto;
		filter: grayscale(100%);
		width: 90%;
	}
}


footer {
	border-top-style: solid;
	border-top-width: 1px;
	text-align: center;
	font-size: small;
}

// Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {

	.navlink {
		font-size: medium;
	}
} 

// Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
	#about-me-header {
		text-align: left;
	}

	#about-me {
		display: grid;
		grid-template-areas: 
			"image header"
			"image content";
		grid-gap: 0px 30px;
	}

} 

// Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {
 #welcome-section {
	 h1 {
		 font-size: 200%;
	 }
 }	 
} 

