:root {
	--nav-height: 1em;
	--nav-height-inv: -1em;
}

body {
	background-color: #8CCDC8;
	margin: 0;
	padding: 0;
}

#navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #8CCDC8;
}

#welcome-section {
	margin-top: var(--nav-height);
	height: 100vh;
}

#welcome-section-header {
	/* background-color: red; */
	position: relative;
	top: 50vh;
	text-align: center;
}

:target:before {
	content: "";
  /* background-color: red; */
  display: block;
	position: relative;
  height: var(--nav-height);
	margin-top: var(--nav-height-inv);
	z-index: -10;
}

footer {
	border-top-style: solid;
	border-top-width: 1px;
	text-align: center;
	font-size: small;
}

 /* /1* Extra small devices (phones, 600px and down) *1/ */
/* @media only screen and (max-width: 600px) {...} */

/* /1* Small devices (portrait tablets and large phones, 600px and up) *1/ */
/* @media only screen and (min-width: 600px) {...} */

/* /1* Medium devices (landscape tablets, 768px and up) *1/ */
/* @media only screen and (min-width: 768px) {...} */

/* /1* Large devices (laptops/desktops, 992px and up) *1/ */
/* @media only screen and (min-width: 992px) {...} */

/* /1* Extra large devices (large laptops and desktops, 1200px and up) *1/ */
/* @media only screen and (min-width: 1200px) {...} */ 
